<div class="container-fluid profilehead">
  <h1>Editing User</h1>


  <div class="row">
    <div class="col-md-3">
    </div>

    <div class="col-md-6">
      <%= render 'form' %>
    </div>

    <div class="col-md-3">
    </div>

  </div>

</div>
