<p id="notice"><%= notice %></p>

<h1>Listing Boards</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Board Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.user.username %></td>
        <td><%= board.name %></td>
        <td><%= board.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
