.searchbar {
  border-bottom: 1px;
  border-style: solid;
  border-color: #eee;
  padding: 10px;
  background-color: #fff;
}

.profilehead {
  background-color: #fff;

}



body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
}

.item {
    background-color: #E3E3E3;
    display: inline-block;
    margin: 1em;
    width: 100%;

}

.boardContainer {
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  border-radius: 6px;
  position: relative;
  width: 236px;
  min-height: 320px;
}

.boardName {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
white-space: nowrap;
overflow: hidden;
-ms-text-overflow: ellipsis;
text-overflow: ellipsis;
color: #555;
display: block;
font-size: 14px;
font-weight: bold;
height: 18px;
line-height: 18px;
margin: 0 3px 6px;
position: relative;
height: auto;
padding: 5px 0px 3px 10px;
}

.pinimg {
  border-radius: 6px 6px 0px 0px;
  }

.boardimg {
  border-radius: 6px;
  height: 146px;
  width: 214px;
  margin-left: 10px;
  }

.boardthumbimg {
  border-radius: 6px;
  margin: 10px;
  height: 61px;
  width: 54px;
}

.pin{
  border-top: 1px;
  border-style: solid;
  border-color: #E3E3E3;
  text-decoration: none;
  color: #999;
  line-height: 15px;
  font-size: 11px;
  font-weight: bold;
  padding: 5px 0px 5px 10px;
  text-align: left;
}

.button {
  margin: 5px;
  text-decoration: none;
  a:link {
    text-decoration: none;
  }
}
