// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: $back-color;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-top: 52px;
}

.navbar-custom {
  border-bottom:none;
  padding-top:5px;
  @include linear-gradient($header-color, #2989d8);
}

.profileImage {
    border-radius: 200px;
    margin-top:10px;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.profilehead {
  background-color: $header-color;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
}

pre {
  background-color: $back-color;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: $notices-color;
}

.field_with_errors {
  padding: 2px;
  background-color: $errors-color;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid $errors-color;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px $back-color;
  background-color: $back-color;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: $errors-color;
    color: $back-color;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
}

.item {
    background-color: $back-color;
    display: inline-block;
    margin: 1em;
    width: 100%;

}

.boardimg {
  border-radius: 6px;
  height: 146px;
  width: 214px;
  margin-left: 10px;
  }

.boardthumbimg {
  border-radius: 6px;
  margin: 10px;
  height: 61px;
  width: 54px;
}

.button {
  margin: 5px;
  text-decoration: none;
  a:link {
    text-decoration: none;
  }
}
.profileImageBar {
  border-radius: 200px;
  width: 40px;
  height: 40px;
}

ul li {
  display:inline;
  float: left;
}
