<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" style="background-color:white; border-bottom:none; padding-top:5px;">
    <div class="navbar-header" style="padding-left:90px;">
        <%= link_to image_tag('pinterest.png', width: '35px'), root_path %>
        <%= link_to "Search Pins", '/pins/search', class:"btn btn-default" %>
      </div>
      <% if signed_in? %>
        <p class="navbar-right" style="padding-right:116px;"><%= link_to image_tag(current_user.avatar.thumb.url, width: "40px;"), user_path(current_user) %> <% if current_user.admin? %>| <%= link_to "Admin", admin_root_path %> <% end %></p>
      <% end %>
    </div>
  </div>
</nav>
